/*@font-face {
  font-family: 'default-font';
  src: url('/Roboto-Light.ttf');
}*/

HTML {
  margin: 0;
  padding: 0;
}

BODY {
  padding: 1em;
  margin: 0 auto;
  font-family: sans-serif;
  /*font-size: 10pt;
  font-family: default-font;*/
  background: white;
  color: #404040;
	box-sizing: border-box;
	overflow: hidden;
	height: 100vh;
}

INPUT[type=text] {
  border: solid #C0C0C0 1px;
  height: 1.8em;
  padding: 0 2px;
}

INPUT[type=password] {
  border: solid #C0C0C0 1px;
  height: 1.8em;
  padding: 0 2px;
}

INPUT[type=text]:focus {
  border: solid gray 1px;
}

/*INPUT {
  border: solid gray 1px;
  background: white;
  color: black;
}*/

/*INPUT[type=submit] {
  border: solid black 1px;
  cursor: pointer;
  box-shadow: 0 0 4px gray;
}*/

/*INPUT[type=submit]:hover {
  background: #E8E8E8;
}*/

#login {
  width: 10em;
  margin-bottom: 8px;
}

#password {
  width: 10em;
  margin-bottom: 8px;
}

A {
  text-decoration: none;
}

A:link {
  color: #4765BF;
}

A:visited {
  color: #6547BF;
}

A[id] {
  position: relative;
  display: block;
  top: -1em;
  height: 1em;
  margin-bottom: -1em;
  pointer-events: none;
}

P {
  margin-bottom: 0;
  margin-top: 0.75em;
}

H1,H2,H3,H4,H5,H6 {
  margin-bottom: 0;
}

H1,H2 {
  letter-spacing: 1px;
  /*padding: 0.2em 0;*/
  /*border-bottom: solid 1px #D8D8D8;*/
  /*font-weight: normal;*/
}

CODE {
  /*background: #F0F0F0;*/
  /*padding: 0px 1px;*/
  display: inline;
}

PRE {
  /*background: #F0F0F0;*/
  display: inline-block;
  padding-left: 0.5em;
  margin: 0px;
  margin-top: 0.75em;
  white-space: pre-wrap;
}

HR {
  margin-top: 0.75em;
  margin-left: -0.5em;
  margin-right: -0.5em;
  padding: 0px;
  height: 1px;
  border: none;
  border-top: solid #D8D8D8 1px;
}

PRE HR {
  margin-bottom: -0.75em;
}

TABLE.table, TABLE.error {
  border-bottom: solid #D0D0D0 1px;
  border-right: solid #D0D0D0 1px;
  padding: 0;
  margin-top: 0.75em;
  border-spacing: 0;
  empty-cells: show;
}

TABLE.table > TBODY > TR > TD, TABLE.error > TBODY > TR > TD {
  border-top: solid #D0D0D0 1px;
  border-left:  solid #D0D0D0 1px;
  padding: 3px 6px;
  vertical-align: top;
}

TABLE.table > TBODY > TR > TH, TABLE.error > TBODY > TR > TH {
  border-top: solid #D0D0D0 1px;
  border-left:  solid #D0D0D0 1px;
  padding: 3px 6px;
  text-align: left;
}

TABLE.desc {
  border: solid #D8D8D8 2px;
  border-collapse: collapse;
  padding: 0px;
  margin-top: 0.75em;
  border-spacing: 0;
  empty-cells: show;
}

TABLE.desc > TBODY > TR > TD {
  border: none;
  padding: 6px 12px;
}

TABLE.desc > TBODY > TR > TH {
  text-align: left;
  border: none;
  padding: 6px 12px;
}

#page-frame {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 80em;
  margin: auto;
  border-left: solid 1px #C0C0C0;
  border-right: solid 1px #C0C0C0;
  box-sizing: border-box;
  background-color: #F8F8F8;
}

.header {
  height: 2em;
  line-height: 2em;
  padding: 0 1em;
}

.header-edit {
  border-bottom: solid 1px #C0C0C0;
}

.header-inside {
  padding: 0;
  /*background: #E8E8E8;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  box-shadow: 0 0 8px gray;*/
}

.header-inside-v {
  max-width: 80em;
  margin: 0 auto;
  background: #E8E8E8;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  padding: 2px 16px 4px;
  box-shadow: 0 0 8px gray;
}

.header-bar {
  /*margin-top: 4px;*/
}

.header-bar INPUT[type=submit],.header-bar INPUT[type=button] {
  background-color: #A0A0A0;
  color: white;
  font-size: 80%;
  height: 1.6em;
  border: none;
  cursor: pointer;
}

.header-bar INPUT[type=text] {
  font-size: 80%;
  height: 1.6em;
  border: solid 1px #C0C0C0;
  box-sizing: border-box;
}

#search {
  width: 24em;
  margin-left: 0.5em;
}

.header SELECT {
  background-color: #A0A0A0;
  color: white;
  font-size: 80%;
  height: 1.6em;
  border: none;
  cursor: pointer;
}

.title {
  display: inline-block;
  color: gray;
}

.title A:link {
  color: gray;
}

.title A:visited {
  color: gray;
}

.title-v {
  font-size: 75%;
  color: gray;
}

.page {
  position: absolute;
  top: 2em;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  padding: 2em;
  padding-top: 1em;
  background-color: #F8F8F8;
  box-sizing: border-box;
}

.page P {
  line-height: 1.5em;
}

.page > DIV:last-child {
  height: 1em;
}

.page-edit {
  position: absolute;
  top: 2em;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  padding: 1em;
  background-color: white;
  box-sizing: border-box;
}

.unknown {
  color: red;
  margin-top: 0.5em;
}

DIV.error {
  color: red;
  /*text-shadow: red 0 0 1px;*/
  padding: 2px 6px;
  background: url('<%/%>/error-bg.png');
}

DIV.message {
  color: red;
  font-style: italic;
}

.command {
  display: inline-block;
  margin-left: 0.5em;
  vertical-align: top;
}

#lang {
  font-size: 80%;
  margin-right: 0.25em;
  margin-left: 0.25em;
}

.up {
  display: inline-block;
}

.edit-frame {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0.5em;
}

.edit {
  border: none;
  background: none;
  width: 100%;
  height: 100%;
}

DIV.table {
  margin-top: 0.75em;
  }
  
DIV.box {
  margin-top: 0.75em;
  display: inline-block;
  border: solid #D8D8D8 1px;
  border-radius: 0.25em;
  padding: 0.5em;
}

DIV.info {
  margin-top: 0.75em;
  display: inline-block;
  border: solid #D8D8D8 1px;
  border-radius: 0.25em;
  padding: 0.5em;
  padding-left: 48px;
  background: url('<%/%>/info.png') 8px 8px no-repeat;
  min-height: 32px;
}

DIV.warning {
  margin-top: 0.75em;
  display: inline-block;
  border: solid #D8D8D8 1px;
  border-radius: 0.25em;
  padding: 8px;
  padding-left: 48px;
  background: url('<%/%>/warning.png') 8px 8px no-repeat;
  min-height: 32px;
}

DIV.tip {
  margin-top: 0.75em;
  display: inline-block;
  border: solid #D8D8D8 1px;
  border-radius: 0.25em;
  padding: 8px;
  padding-left: 48px;
  background: url('<%/%>/tip.png') 8px 8px no-repeat;
  min-height: 32px;
}

DIV.vb {
  margin-top: 0.75em;
  display: inline-block;
  border: solid #D8D8D8 1px;
  border-radius: 0.25em;
  padding: 8px;
  padding-left: 48px;
  background: url('<%/%>/vb.png') 8px 8px no-repeat;
  min-height: 32px;
}

DIV.critical {
  margin-top: 0.75em;
  display: inline-block;
  border: solid #D8D8D8 1px;
  border-radius: 0.25em;
  padding: 8px;
  padding-left: 48px;
  background: url('<%/%>/critical.png') 8px 8px no-repeat;
  min-height: 32px;
}

DIV.example, DIV.seealso {
  display: inline-block;
  border: none;
  padding: 0;
}

DIV.seealso > UL:first-child {
  margin-top: 0.75em;
}

TEXTAREA {
  font-family: monospace;
}

TABLE.index {
  border: none;
  padding: 0;
  margin-top: 0.75em;
}

TABLE.index TD {
  border: none;
  padding: 1px 6px;
  vertical-align: baseline;
}

DIV.index {
  display: inline-block;
  font-size: 85%;
  padding: 0;
  margin-top: 0.75em;
}

/*------------------------------------------------------------------*/

/*DIV.example:before {
  content: 'Example';
  display: block;
  font-weight: bold;
  font-size: larger;
  margin-bottom: 0.75em;
}*/

DIV.syntax {
  margin-top: 0.75em;
  display: inline-block;
  border: solid #D8D8D8 1px;
  background-color: #F0F0F0;
  padding: 0.25em 0.5em;
  font-family: monospace;
  white-space: pre-wrap;
}

DIV.syntax > P:last-child {
  margin-bottom: -0.75em;
}

DIV.since {
  display: inline-block;
  background: #FF8080;
  color: white;
  font-weight: bold;
  padding: 0 0.5em;
  line-height: 1.2rem;
  text-transform: uppercase;
  font-size: 80%;
}

.letter {
  font-weight: bold;
  vertical-align: baseline;
}

TR {
  vertical-align: top;
}

TABLE.no-border {
  margin: 0;
  margin-top: 0.75em;
  border: none;
}

TABLE.no-border > TBODY > TR > TD {
  border: none;
}

TABLE.no-border > TBODY > TR > TH {
  border: none;
}

.symbol {
  color: black;
}

TABLE.symbols > TBODY > TR > TH {
  text-align: left;
  vertical-align: top;
  padding-right: 16px;
  padding-top: 16px;
}

TABLE.symbols > TBODY > TR > TD {
  vertical-align: top;
  padding-right: 16px;
}

TABLE.full {
  width: 100%;
  line-height: 1.5em;
}

UL,OL {
  padding-left: 2em;
  margin-bottom: 0;
  margin-top: 0.75em;
}

LI UL,LI OL {
  margin-top: 0;
}

P:first-child,UL:first-child,OL:first-child,TABLE:first-child {
  margin-top: 0;
}

H1:first-child {
  margin-top: 0;
}

DIV.table:first-child {
  margin-top: 0;
}

DIV.syntax > P:first-child {
  margin-top: -0.75em;
}

.login {
  position: absolute;
  background: white;
  border: solid 1px #C0C0C0;
  box-shadow: 0 0 0.5em black;
  padding: 2em;
  z-index: 10;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 1em;
}

.login-glue {
  position: absolute;
  margin: 0 auto;
  width: 24em;
  padding: 1px 22px;
  background: #E8E8E8;
  z-index: 10;
  margin-top: -24px;
  margin-left: -6px;
}

.label-login {
  display: inline-block;
  margin-left: 0.5em;
  width: 8em;
  height: 1.5em;
}

#user {
  width: 12em;
}

#ok,#cancel {
  margin-top: 8px;
  width: 8em;
  }
  
#register {
  width: 8em;
}

.hide-if-compact {
  display: none;
}
.show-if-compact {
  display: inherit;
}

/*@media (min-width: 120em) {
  .login {
    position: fixed;
    top: 32px;
    left: 32px;
    margin: 0px;
  }
  .hide-if-compact {
    display: inherit;
  }
  .show-if-compact {
    display: none;
  }
}*/

.inherit {
  color: #C0C0C0;
}

.tooltip {
  display: none;
  position: absolute;
  margin-top: 2em;
  margin-left: 0em;
  pointer-events: none;
  width: 20em;
}

.tooltip-activator {
  display: inline-block;
  padding: 0;
}

.tooltip-activator:hover .tooltip {
  display: inline;
}

.tooltip-contents {
  display: inline-block;
  border: solid 1px gray;
  padding: 0.2em 0.5em;
  background: #FFFFDF;
  box-shadow: 0 0 4px gray;
}

.user-name {
  display: inline-block;
  margin-right: 1em;
}

DIV.welcome {
  color: #3398C3;
  /*padding: 0.5em 1em;*/
  /*border-radius: 1em;*/
  font-size: 150%;
  line-height: normal;
  letter-spacing: 1px;
}

DIV.news {
  /*padding: 1em;
  border: solid 0.3em #3398C3;
  border-radius: 0.6em;*/
  margin-top: 2em;
  margin-bottom: 1em;
  border-top: solid 0.4em #3398C3;
  padding-left: 8em;
  padding-right: 2em;
}

DIV.news > H3 {
  margin-top: 0;
  border-bottom: solid 1px #AFE8FF;
}

DIV.date {
  position: relative;
  float: left;
  display: table;
  font-weight: bold;
  border: solid 0.4em #3398C3;
  border-radius: 100%;
  margin-top: -1.5em;
  margin-left: -7em;
  width: 5em;
  height: 5em;
  background: white;
  color: #3398C3;
  line-height: 1.2em;
}

DIV.release {
  background: #8CC7DF;
  color: white;
}

DIV.date P {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  line-height: initial;
}

DIV.result {
  background-color: #D8D8D8;
}

DIV.result PRE {
  padding: 0.5em 1em;
  margin: 0;
}

DIV.code {
  border: solid 1px #D8D8D8;
  margin-top: 0.75em;
}

DIV.code PRE {
  padding: 0.5em 1em;
  margin-top: 0;
  border: none;
}

IMG.screenshot {
  box-shadow: 0 0 0.5em rgba(0,0,0,0.25);
}

#welcome {
	font-size: 200%;
	font-weight: bold;
	text-shadow: 0 0 0.1em gray;
	margin-bottom: 1em;
}

#logo {
	width: 10em;
	margin-bottom: 1em;
}

#login-buttons {
  margin-top: 2em;
}

#login-buttons > INPUT {
  margin: 0 0.5em;
}